<?xml version="1.0" encoding="UTF-8"?>
<!--

       Copyright 2009-2017 the original author or authors.

       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.

-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--//推荐写对应的dao层的包名加接口类名-->
<mapper namespace="com.neuedu.Dao.IShippingDao">

    <insert id="addShipping" parameterType="shipping" keyProperty="id"  useGeneratedKeys="true" >
        INSERT INTO neuedu_shipping (user_id,receiver_name,receiver_phone,receiver_mobile,receiver_province,receiver_city,receiver_address,receiver_zip )
        VALUES (#{user_id},#{receiver_name},#{receiver_phone},#{receiver_mobile},#{receiver_province},#{receiver_city},#{receiver_adress},#{receiver_zip})

    </insert>

    <delete id="deleteShipping" parameterType="map">
        DELETE FROM  neuedu_shipping WHERE    id=#{shippingId}
    </delete>

    <update id="updateShipping" parameterType="shipping" >
       UPDATE  neuedu_shipping 
       <set>
           <if test="receiver_name!=null">
               receiver_name=#{receiver_name},
           </if>
           <if test="receiver_phone!=null">
               receiver_phone=#{receiver_phone},
           </if>
           <if test="receiver_mobile!=null">
               receiver_mobile=#{receiver_mobile},
           </if>
           <if test="receiver_province!=null">
               receiver_province=#{receiver_province},
           </if>
           <if test="receiver_city!=null">
               receiver_city=#{receiver_city},
           </if>
           <if test="receiver_adress!=null">
               receiver_address=#{receiver_adress},
           </if>
           <if test="receiver_zip!=null">
               receiver_zip=#{receiver_zip}
           </if>
       </set>
         WHERE  id=#{id}  AND  user_id =#{user_id}

    </update>


    <select id="findShippingByShippingId" parameterType="map" resultType="shipping">

        SELECT * FROM neuedu_shipping WHERE  id=#{shippingId} AND  user_id=#{user_id}

    </select>

    <select id="findAllShippings" resultType="shipping" parameterType="map">
        SELECT * FROM neuedu_shipping WHERE user_id=#{user_id} limit #{offSize} ,#{pageSize}

    </select>


    <select id="countShippings" parameterType="int" resultType="int">

        SELECT count(1) FROM  neuedu_shipping WHERE user_id=#{user_id}

    </select>

</mapper>